<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Add-0303-ch.02.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>7E3C87861E6FB4120018A3F7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7E3C879A1E6FB4130018A3F7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7E3C87A51E6FB4130018A3F7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
